{% extends "base.html" %}
{% block header_content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12">
            <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
                <h1 class="display-4">Pixify</h1>
                <p class="lead">Add fitting, custom playlist images for your spotify playlists</p>
                {% block header_content_2 %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}