{% extends "base.html" %}


{% block scripts_content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
              $('a#process_input').bind('click', function() {
                $.getJSON('/searchplaylists', {
                  searchterm: $('input[name="searchterm"]').val(),
                }, function(data) {
                  $("#playlists_data").text(data.playlists_data);
                });
                return false;
              });
            });
        </script>

{% endblock %}



{% block header_content %}
<div class="container h-100">
            <div class="row h-100">
                <div class="col-12">
                    <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
                        <h1 class="display-4">Image My Playlist</h1>
                        <p class="lead">Add fitting, custom playlist images for your own spotify playlists</p>
                        <div class="container text-center hi">
                            <p style="font-size: 40px;">
                                Hi {{ user_display_name }}!
                            </p>
                            <p>
                                Here is a list of your playlists on Spotify.
                            </p>
                        </div>
                </div>
            </div>
        </div>
        
    
        
{% endblock %}
{% block main_content %}
<section class="container">

            <div class="row">
            
                <div class="container">
                    <form>
                        <div class="col-lg-4">
                            <input class="form-control" type="text" text="Playlist name" name="searchterm">
                            <a href="#" id="process_input"><button class='btn btn-default'>Submit</button></a>
                        </div>
                        <p id=playlists_data></p>
                    </form>
                    
                </div>

                {{result}}
                
                {% if allplaylist%}
                <div class="pb-2">
                                <button type="button" class="btn btn-outline-primary" style="width: 250px">All playlists</button>
                                <button type="button" class="btn btn-primary mr-1" style="width: 250px">Playlists without image</button>
                </div>
                {% else %}
                <div class="pb-2">
                                <button type="button" class="btn btn-primary mr-1" style="width: 250px">All playlists</button>
                                <button type="button" class="btn btn-outline-primary" style="width: 250px">Playlists without image</button>
                </div>
                {% endif %}
            </div>
            
            <section id="playlist_data">
            
            
            {% if updated %}
                {{playlists_data}}
            {% endif %}
            
                
            <div class="container h-100">
                <div class="row">
                    <div class="card-columns">
                    {% for playlist in playlists_data %}
                        {% set playlist_id = playlist['id'] %}
                        {% set playlist_name = playlist['name'] %}
                        {% set playlist_url = playlist['external_urls']['spotify'] %}
                        {% set playlist_img_url = playlist['images'][0]['url'] %}
                        {% set tracks = playlist['tracks']['href'] %}
                        
                        <div class="card">
                            <img src="{{ playlist_img_url }}" class="card-img-top" style="overflow:hidden" alt="...">
                            <div class="card-body">
                              <h6 class="card-title">{{ playlist_name }}</h6>
                              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                              <a href="query/{{ playlist_id }}" class="btn btn-primary">Change the picture</a>
                            </div>
                          </div>
                        
                    {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
