{% extends "base.html" %}

{% block scripts_content %}
<link href="{{url_for('static', filename='fresca.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='template.css')}}" rel="stylesheet">
{% endblock %}

{% block header_content %}
<div class="container h-100">
            <div class="row h-100">
                <div class="col-12">
                    <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
                        <h3 class="lead">Privacy policy.</h3>
                        <p class="lead">We don't store any of your data.</p>
                </div>
            </div>
        </div>
{% endblock %}
