{% extends "base.html" %}


{% block scripts_content %}

<link href="{{url_for('static', filename='fresca.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='template.css')}}" rel="stylesheet">
<link type="text/css" href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

{% endblock %}


{% block header_content %}
<div class="container h-100">
            <div class="row h-100">
                <div class="col-12">
                    <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
                        <h1 class="display-4">Image My Playlist</h1>
                        <p class="lead">Add fitting, custom playlist images for your own spotify playlists</p>
                        <div class="container text-center hi">
                            <p style="font-size: 40px;">
                                Hi {{ user_display_name }}!
                            </p>
                            <p>
                                Here are some proposed images for the playlist {{playlist_name}}. Click on a picture to set the playlist image or try a different search method.
                            </p>
                            <div class='col-12 mt-5' style='height:400px'> 
                                <iframe src="https://open.spotify.com/embed/playlist/{{playlistID}}" width="80%" height="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>
                        </div>
                        
                       
                </div>
            </div>
        </div>
        
{% endblock %}


{% block main_content %}

<section class="container" id="r">
                    <div class="col-12 mt-3 mb-3 text-center">
                        <h2>Image selection</h2>
                    </div>
                    <div class="col-12 text-center">
                    <form action="/playlists/query/{{playlistID}}#r" method="post">
                            <div class="form-group row">
                                <div class="col-lg-1">
                                </div>
                                <div class="col-lg-4">
                                    <select class="form-control" name="searchMethod" type="text">
                                        <option value="none" selected disabled hidden>Select a different smart paylist search method</option>
                                        <option value="genre">Genre</option>
                                        <option value="titles">Song titles</option>
                                        <option value="artists">Artists</option>
                                        <option value="random">Random</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <input class="form-control" name="searchTerm" type="text"  placeholder="or enter your own search term">
                                </div>
                                <div class="col-lg-2">
                                    <input type="submit" class="btn btn-primary mr-2" value="Search">
                                </div>
                            </div>
                    </form>
                </div>
                    

                    <br><br>
                    <div class="square-gallery">
                    
                    {% for pic in images.values() %}
                                <!--<a class="gallery-item" href="/setimage?playlistID={{ playlistID }}&imageUrl={{ pic }}"> -->
                                    <a  href="/playlists/setimage?playlistID={{ playlistID }}&imageUrl={{ pic }}">
                                    <img class="gallery-item" src={{ pic|safe }} />
                                    </a>
                                <!--</a>-->
                          
                    {% endfor %}
                    </div>
                                        
                    <br> <br>

        </section>
{% endblock %}
